{
  "couchDBUrl": "https://couchDBUrl",
  "databaseName": "kvetch-shared",
  "features": {
    "userManagement": true,
    "staffAccounts": true,
    "instanceSelection": false
  },
  "instanceId": "your-instance-id",
  "instanceName": "Your Organization Name"
}